
<h1>INDEX.HANDLEBARS</h1>
<div id="container">
    <h2>{{jobTitle}}</h2>
    <p>{{team}}, {{location}}, {{commitment}}</p>
    <p>{{{summary}}}</p>
    {{#each items}}
        <h3>{{subheader}}</h3>
        <ul>
            {{details}}
        </ul>
    {{/each}}
</div>
