<div>
    <h2>{{text}}</h2>
    <h3>{{categories.team}}, {{categories.location}}, {{data.categories.commitment}}</h3>
</div>
<div><br></div>
{{{description}}}
{{#each lists}}
    <div><br></div>
    <h3>{{text}}</h3>
    <ul>{{{content}}}</ul>
{{/each}}
